In [6]:
"a.di jc,vna.i s,d".split( )

['a.di', 'jc,vna.i', 's,d']

In [9]:
"{: ^20}".format("python")

'       python       '

In [41]:
lt=['abc\n','\n','Beijing\n','\n','Paris\n','\n','NewYork\n','\n']
lt2=[]
for i in lt:
    i=i.replace('\n','')
    lt2.append(i)
lt2.remove('')
lt2.remove('')
lt2.remove('')
lt2.remove('')
print(lt2)

['abc', 'Beijing', 'Paris', 'NewYork']